.content-inner ul li blockquote {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: .87rem;
    line-height: 1.6;
}

.content-inner ul li>p {
    margin-block-start: 0;
    margin-block-end: 0;
}